# .NET projects ignore list ----

[Oo]bj/
[Bb]in/
TestResults/
.nuget/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.sln.ide
project.lock.json
.vscode/
.build/
.testPublish/
global.json
/src/.vs/
launchSettings.json
.vs
/env.list


# R projects ignore list ----
# History files
.Rhistory
.Rapp.history

# Session Data fles
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
**/*_files/
**/*_cache/
**/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

**/output/
